@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff7700),
      to(#ffb700)
    )
    fixed;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}


body::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
  height: 0;
}